langgraph==0.3.5
langchain==0.3.20
langsmith==0.3.11
python-dotenv==1.0.0
pymongo==4.11.2
motor==3.7.0
pydantic==2.10.3
pydantic-settings==2.7.0
pydantic_core==2.27.1
rich==13.9.4
pytz==2025.1

# Different AI 
openai==1.66.3

yfinance==0.2.54
nsepythonserver==2.93
requests-ratelimiter==0.7.0
pandas==2.2.3
numpy==2.2.4
# ta-lib==0.6.3


streamlit==1.44.0
streamlit-cookies-manager==0.2.0
bcrypt==4.3.0
